body{

   margin:180px 150px;
}

#tea{
   border:1px solid black;
   background-color: black ;
   font-family: Helvetica;
   color:seashell;
   font-size: 22px;

}

#navi a{
 display:inline-flex;

 margin:10px 20px;
 
}
.nav{
 display: flex;
 justify-content:flex-end;
 margin-top:-60px;
}

#logo{
   border-bottom: 1px solid seashell;
   
}
#lo{
   height:50px;
   width:100x;
   margin:10px 30px;
   opacity:0.5;
}
.mission{
   background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg);
   height:700px;
   margin:0px 50px;
   padding:0px;
   opacity:0.5;
}

.para{
 margin-top:300px;
 display:inline-block;
 background-color: black;
 text-align: center;
 width:1150px;
}
.par{
   opacity: 0.5;
   
}
.featured{
   text-align: center;
   opacity:0.5;
}

#fall,#spice,#donu,#myre,#bed{
   height:200px;
   width:300px;
   opacity: 0.5;
}
.mid1,.mid2,.mid3,.mid4,.mid5{
   display:inline-block;
   margin:0 50px;
   justify-content: center;
}

#locate{
   background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg);
   height:500px;
   opacity: 0.9;
   margin:40px 50px;
}
#lo{
   text-align: center;
   
}
.down,.east,.oald{
   display:inline-block;
   background-color: black;
   opacity:0.5;
   width:270px;
   text-align: center;
   margin-left: 70px;
   margin-top: 2px;;
 
}

.foot{
   text-align: center;
   opacity: 0.5;
}
footer{
   margin-left: 20px;
   opacity:0.5
}




